<!--HTML FILE-->
<style>
  .trail {
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    background:darkblue;
  }

  body {
    height: 300px;
  }
</style>

<script>

  function mouseTrail(trailY, trailX) {
    if (document.body.childNodes.length > 20) {
      let currentDiv = document.body.querySelector('div');
      console.log(currentDiv);
      currentDiv.style.left = trailX;
      currentDiv.style.top = trailY;
      document.body.appendChild(currentDiv);
    } else {
      let tail = document.createElement("div");
      tail.className = "trail";
      tail.style.left = trailX;
      tail.style.top = trailY;
      document.body.appendChild(tail);
    }
  }
  window.addEventListener("mousemove", event => {
    trailY = event.clientY + 'px';
    trailX = event.clientX + 'px';
    mouseTrail(trailY, trailX);
  });
</script>